/* YOUR STYLING HERE */

.main-div {
  margin-top: 30px;
}

#left-pane, #right-pane {
  background-color: #F6F6F6;
  border: 1px solid grey;
  height: 500px;
}

#left-pane {
  padding-top: 10px;
  position: relative;
}

#left-pane .selected {
  background-color: $blue;
}

#left-pane .selected h5 {
  color: white;
}

.input-group-button i {
  font-size: 30px;
  margin-right: 10px;
}

.folder-form-div {
  position: absolute;
  bottom: 0;
}

#notes-list-pane, #note-form-pane {
  border: 1px solid grey;
  height: 499px;
}

.note {
  border: 1px solid grey;
  margin: 1px;
}

.note.selected {
  background-color: $yellow;
}

.columns:last-child:not(:first-child) {
  float: left;
}

.note-list-controls {
  background-color: #E7E5E7;
}

.note-list-controls .input-group-label {
  background-color: white;
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.note-list-controls .input-group-field {
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: white;
}

.note-list-controls .button {
  background-color: #F5F5F5;
  border-color: black;
  color: black;
  display: inline-block;
  margin-bottom: 5px;
}

.search-form {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  width: 65%;
}

.search-form .input-group {
  margin: 0;
}

#note-form-pane {
  height: 100%;
  padding: 0;
}

#note-form-pane h5 {
  display: inline-block;
  margin: 10px;
}

#note-form-pane button {
  display: inline-block;
  margin: 5px;
}

#note-form-pane textarea {
  height: 429px;
  margin-bottom: 0;
}

.note-form-header {
  height: 68px;
  background-color: #E7E5E7;
}
